.background {
  background-color: red;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.background .music {
  rotate: 180deg;
  width: 100%;
  height: 24485px; /* Set height for one minute */
  margin-top: calc(-24000px - 100vh); /* Start above the viewport */
  position: relative; /* Allow positioning for animation */
  animation: fall 60s linear forwards; /* Animation lasts for 1 minute */
  background: yellow;
}

.background .music .tape {
  width: 33.3%;
  position: relative;

  background-color: grey;
}

.background .music .tape .tile {
  color: white;
  border: 1px solid white;
  width: calc(100% - 2px);
  height: calc(150px - 2px);
  position: absolute;

  background-color: black;
}

@keyframes fall {
  to {
      margin-top: 100vh; /* Move to the original position */
  }
}